<h1>New user</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label for="">Email
    <input type="text" name="user[email]" value="">
  </label>
  <br>
  <label for="">Password
    <input id='password' type="text" name="user[password]" value="">
  </label>
  <br>

  <input type="submit" value="Create User">
</form>
